body {
  font-family: 'Lato', sans-serif;
  color: #000;
  font-size: 16px;
  position: relative;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
  line-height: 1.2em;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
  line-height: 1.35em;
}

h5 {
  font-size: 16px;
}

p {
  font-weight: 400;
}

ul, li {
  display: block;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  width: 1060px;
  margin: 0 auto;
}

.header {
  background:
  /* url('../img/header_bgd.jpg') no-repeat center top / cover, */
  linear-gradient(transparent, #151824),
  url('../img/background.jpg') no-repeat center top / cover;
  color: #fff;
  padding-top: 56px;
  padding-bottom: 372px;
  position: relative;
  background-blend-mode: multiply;

}

.nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-bottom: auto;
}

.div-menu {
  width: 45%;
  margin-top: auto;
}

.menu-button {
  display: none;
}

.menu {
  padding-top: 5px;
  display: flex;
  align-items: flex-end;
  vertical-align: bottom;
  justify-content: space-between;
  margin-bottom: 176px;
}

.menu li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.5s ease;
}

.menu li a:hover {
  text-shadow: -3px 3px 3px rgba(0,0,0,0.5);
}

.discovery {
}

.discovery h1 {
  width: 619px;
  font-weight: 400;
  line-height: 1.2em;
}

.discovery p {
  line-height: 1.5em;
  margin-top: 22px;
  width: 546px;
  font-weight: 300;
}

.searching {
  width: 885px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 54px;
}

.question {
  display: flex;
  align-items: center;
}

.circle-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: all 0.2s ease;
  background: transparent;
}

.circle-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.5);
}

.circle-btn:checked {
  background-color: #fff;
}

.question-text {
  margin-left: 23px;
}

.answer-line {
  margin-top: 10px;
  width: 297px;
  height: 22px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #BFC0C5;
  color: #fff;

}

.search-btn {
  width: 171px;
  height: 58px;
  background-color: #1B7DFF;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  border: none;
  text-transform: uppercase;
  font-size: 24px;
}

.search-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.3)
}

.search-btn h3 {
  text-transform: uppercase;
  font-weight: 400;
}

.content-container {
  width: 1262px;
  margin: 0 auto;
}

.benefits {
  box-shadow: 0 2px 20px rgba(21, 24, 36, 0.16);
  padding: 93px 0 111px;

  position: relative;
  background-color: #fff;
  margin: -225px auto 0;
}

.benefits-examples {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.examples-icon-2 {
  padding-top: 1px;
}

.examples-icon-3 {
  padding-top: 8px;
}

.benefit {
  width: 317px;
}

.benefits-examples-h {
  margin-top: 37px;
}

.benefits-examples-text {
  margin-top: 26px;
  width: 100%;
  line-height: 1.5em;
}

.learning {
  margin-top: 39px;
  display: flex;
  transition: all 1s ease;
}

.learning:hover {
  transform: scale(1.1);
  margin-left: 12px;
}

.learning-btn {
  color: #006dfe;
  margin-right: 26px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.learning-btn p {
  line-height: 1.5em;
}

.learning-btn img {
  padding-top: 2px;
}

.content {
  margin-top: 131px;
}

.trips {

  display: flex;
  padding-top: 2px;
  transition: all 1s ease;
  /* align-items: center; */
}

.trips:hover {
  transform: scale(1.1);
  margin-right: 7px;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-header-box {

}

.blue-line {
  margin-top: 7px;
  width: 253px;
  height: 2px;
  background-color: #006dfe;
}

.trips-btn {
  margin-right: 0;
  margin-left: 26px;
}

.trips img {
  padding-top: 3px;
}

.trips-gallery {
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.trips-gallery a {
  margin-bottom: 10px;
  background-blend-mode: multiply;
  box-shadow: 0 2px 20px rgba(21, 24, 36, 0.16);
  transition: all 1s ease;
  display: flex;
  align-items: flex-end;
  padding: 0 0 27px 35px;
}

.trips-gallery a:hover {
  transform: scale(1.03);

}

.trip1 {
  width: 49.5%;
  height: 354px;
  background:
  url('../img/fuji.jpg') no-repeat center top / cover,
  rgba(21,24,36,0.4);
}

.trip2 {
  height: 354px;
  width: 49.5%;
  background: url('../img/kyoto.jpg') no-repeat center top / cover,
  rgba(21,24,36,0.4);
}

.trip3 {
  height: 283px;
  width: 32.7%;
  background: url('../img/tokyo.jpg') no-repeat center top / cover
  rgba(21,24,36,0.4);
}

.trip4 {
  height: 283px;
  width: 32.7%;
  background: url('../img/niigata.jpg') no-repeat center top / cover,
  rgba(21,24,36,0.4);
}

.trip5 {
  height: 283px;
  width: 32.7%;
  background: url('../img/sapporo.jpg') no-repeat center top / cover,
  rgba(21,24,36,0.4);
}

.states {
  margin-top: 121px;
}

.state {
  display: flex;
  justify-content: space-between;
}

.description {
  margin-right: 25px;
  width: 520px;
}

.description-header {
  font-size: 30px;
  margin-top: 26px;
}

.description-text {
  margin-top: 85px;
  line-height: 1.5em;
}

.description-btn {
  margin-top: 58px;
  display: flex;
  transition: all 1s ease;
}

.description-btn:hover {
  transform: scale(1.1);
  margin-left: 20px;
}

.state-margin {
  margin-top: 77px;
}

.top {
  margin-top: 139px;
}

.no-flex {
  display: block;
}

.top-body {
  margin-top: 54px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.top-block {
  margin-top: 58px;
  width: 386px;
}

.top-nomargin {
  margin-top: 0;
}

.top-photo {
  height: 377px;
  display: flex;
  align-items: flex-end;
}

.photo-1 {
  background: url('../img/nagoya.jpg') no-repeat center top / cover;
}

.photo-2 {
  background: url('../img/top-niigata.jpg') no-repeat center top / cover;
}

.photo-3 {
  background: url('../img/osaka.jpg') no-repeat center top / cover;
}

.photo-4 {
  background: url('../img/saitama.jpg') no-repeat center top / cover;
}

.photo-5 {
  background: url('../img/ueno.jpg') no-repeat center top / cover;
}

.photo-6 {
  background: url('../img/shibuya.jpg') no-repeat center top / cover;
}

.photo-footer {
  display: flex;
  height: 55px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 25px;
  width: 100%;

}

.photo-footer-active {
  display: flex;
}

.photo-footer-active p{
  margin-right: 6px;
}

.like {
  display: flex;
}

.comment {
  display: flex;
  margin-left: 14px;
}

.photo-footer h4,.photo-footer p {
  color: #fff;
  height: auto;
}

.photo-footer h4 {
  text-transform: uppercase;
  font-weight: 400;
}

.top-description {
  margin-top: 45px;
  line-height: 1.5em;
}

.top-btn {
  margin-top: 31px;
  width: 118px;
  height: 42px;
}

.top-btn h3 {
  font-size: 16px;
}

.video {
  margin-top: 144px;
  position: relative;
}

.video-preview {
  width: 100%;
}

.video-play {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0%;
  transition: 0.5s;
}

.video-play:active {
  transform: scale(0.9);
}

footer {
  display: flex;
  align-items: center;
  background: #0E1D28;
  height: 370px;
  color: #fff;
}

.footer-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}

.footer-menu {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

footer ul {

}

footer li {
  line-height: 1.5em;
  margin-top: 4px;
  font-weight: 300;
}

.footer-menu a:hover {
  text-decoration: underline;
}

.footer-menu-header {
  margin-top: 0;
  font-size: 18px;
  line-height: 1.35em;
  font-weight: 400;
}

/* Responsive starts here */

@media screen and (max-width: 1200px) {
  .content-container {
    width: 1140px;
  }

  .container {
    width: 1040px;
  }
}

@media screen and (max-width: 1199px) {
  .content-container {
    width: 960px;
  }

  .container {
    width: 800px;
  }

  .adapt-margin {
    margin-top: 54px;
  }

  .description {
    margin-right: 0;
    width: 35%;
  }

  .searching {
    width: 100%;
    flex-wrap: wrap;
  }

  .top-body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 991px) {

  .header {
    padding-bottom: 332px;
  }

  .container {
    width: 720px;
  }

  .content-container {
    width: 720px;
  }

  .choice {
    margin-bottom: 40px;
  }

  .benefits .container {
    width: 90%;
  }

  .benefits-examples {
    flex-wrap: wrap;
  }

  .benefit {
    max-width: 100%;
    width: 31%;
  }

  .examples-text-1 {
    margin-top: 50px;
  }

  .state {
    flex-wrap: wrap;
  }

  .reverse {
    flex-direction: column-reverse;
  }

  .state-img {
    margin: auto;
  }

  .description {
    width: 70%;
    margin-bottom: 40px;
  }

  .top-body {
    justify-content: space-around;
  }

  .top-block {
    margin-top: 0;
    margin-bottom: 58px;
  }

  .video {
    margin-top: 96px;
  }
}

@media screen and (max-width: 769px) {
  .container {
    width: 500px;
  }

  .content-container {
    width: 540px;
  }

  .div-menu {
    width: 60%;
  }

  .discovery h1, .discovery p{
    width: 100%;
  }

  .searching {
    display: block;
  }

  .examples-text-1 {
    margin-top: 26px;
  }

  .section-header {
    display: block;
  }

  .benefits-examples {
    margin-top: 0px;
  }

  .benefit {
    width: 100%;
    margin-top: 80px;
  }

  .trips {
    margin-top: 10px;
  }

  .trip1, .trip2, .trip3, .trip4 {
    width: 49%;
  }

  .trip5 {
    width: 100%;
  }

  .state-img {
    max-width: 100%;
  }

  .video-play img {
    width: 90px;
  }

}

@media screen and (max-width: 575px) {
  .container {
    width:90%;
  }

  .content-container {
    width: 90%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .nav {
    align-items: flex-start;
    justify-content: space-around;
  }

  .div-menu {
    width: inherit;
    position: relative;
  }

  .menu {
    margin-top: 20px;
    flex-wrap: wrap;
    display: none;
  }

  .menu ul {

  }

  .menu li {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
  }

  .menu li a {
    margin-left: auto;
    margin-right: auto;
  }

  .menu-button {
    margin-top: 2px;
    text-align: center;
    display: block;
    cursor: pointer;
    margin-bottom: 176px;
  }

  .menu-button:after {
    display: block;
    margin-bottom: 0;
  }

  #menu-checkbox:checked + .nav[role="navigation"] .menu {
    display: block;
    position: absolute;
    top: 55px;
    right: -17px;
    margin: 0;

  }

  .trip1, .trip2, .trip3, .trip4 {
    width: 100%;
  }

  .footer-body {
    flex-wrap: wrap;
  }

  .footer-label {
    margin: 0 auto 20px;
  }

  .footer-menu {
    margin: 0 auto;
    width: 100%;
  }

  .video-play img {
    width: 50px;
  }
}

@media screen and (max-width: 374px) {
  .answer-line {
    width: 90%;
  }
}
